body {
    display: grid;
    justify-content: center;
}

.grid {
    
    border-style: solid;
    border-color: black;
    display: flex;
    
    background-color: white;
    display: grid;
    width: 400px;
    height: 400px;
 
    
}
.row {
    
    border-color: grey;
    border-width: 1px;
    display: flex;
    justify-content: center;

}

.cell {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
   
}