body {
    display: grid;
    justify-content: center;
}

.grid {
    
    border-color: black;
    border-style: solid;
    display: flex;
    color : red;
    background-color: lightgreen;
    display: grid;
    width: 400px;
    height: 400px;
 
    
}
.row {
    border-style: dotted;
    border-color: blue;
    display: flex;
    justify-content: center;

}

.cell {
    border-style: solid;
    border-color: lightblue;
    
   
}